#no-mobile {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: flex;
    top: 0;
    background-color: var(--yellow);
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

@media screen and  (max-width:645px){
    #no-mobile{
        display: none;
    }
}