.screen-header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    padding-top: 40px;
    opacity: 90%;
    margin-bottom: 15px;
    }

    .screen-header__title {
        font-size: 24px;
        font-weight:900;

    }
    .screen-header__icons span{
        padding: 5px;
        margin: 0px 2px;
        color: rgba(0, 0, 0, 0.6);
    }